.tile-container {
  margin-top: 5rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 35vw;
  height: 45vh;
  margin: auto;
}
.tile {
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b302c;
  color: white;
  border: 6px solid white;
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 512px) {
  .tile-container {
    width: 87vw;
  }
}

@media (max-width: 1024px) {
  .tile-container {
    width: 87vw;
  }
}
